<mat-card class="mb-4 p-6 bg-white rounded-md shadow-md">
    <div class="flex justify-between">
        <div class="flex items-center">
            <button mat-button [mat-menu-trigger-for]="sortByMenu" class="text-blue-500">
                Sort by {{sort}} <mat-icon class="mat-18">expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button (click)="onSortUpdated('asec')" mat-menu-item>asec</button>
                <button (click)="onSortUpdated('desc')" mat-menu-item>desc</button>
            </mat-menu>
        </div>

        <div class="flex items-center ml-4">
            <button mat-button [mat-menu-trigger-for]="menu" class="text-green-500">
                Show {{itemsShowCount}} <mat-icon class="mat-18">expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="onItemsUpdated(12)" mat-menu-item>12</button>
                <button (click)="onItemsUpdated(24)" mat-menu-item>24</button>
                <button (click)="onItemsUpdated(32)" mat-menu-item>32</button>
            </mat-menu>
        </div>


        <button (click)="onColumnsUpdated(1)">
            <mat-icon  class="mat-18">view_list</mat-icon>
        </button>
        <button (click)="onColumnsUpdated(3)">
            <mat-icon class="mat-18">view_module</mat-icon>
        </button>
        <button (click)="onColumnsUpdated(4)">
            <mat-icon class="mat-18">view_comfy</mat-icon>
        </button>
    </div>
</mat-card>
